<div>
  {{message}}
</div>

<div class="js-target-container container">
  This will be replaced with data rendered client side.
  {{> 'list' }}
</div>

<div>
  <button class="js-render-trigger button">Use Local Data Client Side</button>
  <button class="js-render-api-trigger button">Request data and render client side</button>
</div>

