<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
  <style>
    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .button {
      padding: 10px 30px;
      text-align: center;
      border: 1px solid #000;
      background: transparent;
    }
  </style>
  {{{body}}}

  <script src="public/main.js"></script>
</body>
</html>